blinker==1.8.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cors==1.0.1
filelock==3.14.0
Flask==3.0.3
Flask-Cors==4.0.1
future==1.0.0
gevent==24.2.1
greenlet==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pycparser==2.22
PySocks==1.7.1
regex==2024.5.10
requests==2.31.0
requests-file==2.0.0
tldextract==5.1.2
urllib3==2.2.1
Werkzeug==3.0.3
zope.event==5.0
zope.interface==6.3
